{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "_": ".",
        "assets": "./assets",
        "components": "./components",
        "hooks": "./hooks",
        "layouts": "./layouts",
        "models": "./models",
        "pages": "./pages",
        "services": "./services",
        "styles": "./styles",
        "translations": "./translations",
        "utils": "./utils"
      }
    }]
  ]
}